//- script(src='/js/lib/jquery-2.1.1.min.js')
//- script(src='/js/lib/bootstrap.min.js')
//- script(src='/js/lib/jquery.tagsinput.min.js')
//- script(src='/js/app.js')
//- script(src='/js/lib/jstree.min.js')
//- script(src='/js/lib/selectize.min.js')
script(src='/js/lib/require.min.js')

//- ajax csrf:
	http://stackoverflow.com/questions/11200068/how-to-implement-csrf-protection-in-ajax-calls-using-express-js-looking-for-com
	http://erlend.oftedal.no/blog/?blogid=118
script.
	require.config({
		baseUrl: '/js',
		paths: {
			'jquery': 'lib/jquery-2.1.1.min',
			'bootstrap': 'lib/bootstrap.min',
			'jstree': 'lib/jstree.min',
			'selectize': 'lib/selectize.min'
		},
		shim: {
			'selectize': {
				deps: ['jquery']
			},
			'bootstrap': {
				deps: ['jquery']
			}
		}
	});

	require(['jquery', 'bootstrap'], function ($){
		$.ajaxPrefilter(function (options, _, xhr) {
			if (!xhr.crossDomain && options.type !== 'GET')
				xhr.setRequestHeader('X-CSRF-Token', '#{csrf_token}');
		});
	});

