if info && info.length
  div(class='fade in alert alert-info')
    button.close(type='button' data-dismiss='alert') ×
    ul
      each  inf in info
        li= inf

if errors && errors.length
  div(class='fade in alert alert-danger')
    button.close(type='button' data-dismiss='alert') ×
    ul
      each  error in errors
        li= error

if success && success.length
  div(class='fade in alert alert-success')
    button.close(type='button' data-dismiss='alert') ×
    ul
      each  succ in success
        li= succ

if warning && warning.length
  div(class='fade in alert alert-warning')
    button.close(type='button' data-dismiss='alert') ×
    ul
      each  warn in warning
        li= warn
