extends ../layouts/defualt

block title
	title 人员管理 - #{pkg.name}

block content
	.row
		.col-md-4.col-sm-8.col-xs-8.col-lg-6
			button#create.btn.btn-success.btn-sm(type='button') 新建
				i.glyphicon.glyphicon-asterisk
			button#edit.btn.btn-warning.btn-sm(type='button') 修改
				i.glyphicon.glyphicon-pencil
			button#state.btn.btn-warning.btn-sm(type='button') 激活
				i.glyphicon.glyphicon-stats
			button#delete.btn.btn-danger.btn-sm(type='button') 删除
				i.glyphicon.glyphicon-remove

		.col-md-2.col-sm-4.col-xs-4.col-lg-2
			input#q(type='text' placeholder='Search')

	.row
		.col-md-7.col-lg-8: #orgtree
		.col-md-5.col-lg-4: #userInfo.hidden
			form.form-horizontal(role='form')
				fieldset
					legend 节点信息
					input#department(name='department' type='hidden')
					.form-group
						label.col-sm-2.control-label(for='username') 帐号
						.col-sm-10
							input#username.form-control(name='username' type='text', placeholder='帐号')
					.form-group
						label.col-sm-2.control-label(for='email') 邮箱
						.col-sm-10
							input#email.form-control(name='email' type='text', placeholder='邮箱')
					.form-group
						label.col-sm-2.control-label(for='password') Password
						.col-sm-10
							input#password.form-control(name='password', type='password', placeholder='Password')
					.form-group
						.col-sm-offset-2.col-sm-10
							.checkbox
								label
									input#state(type='checkbox' checked='checked')
									| 激活
					.form-group
						label.col-sm-2.control-label(for='name') 姓名
						.col-sm-10
							input#name.form-control(name='name' type='text', placeholder='姓名')
					.form-group
						label.col-sm-2.control-label(for='type') 性别
						.col-sm-10
							.radio
								label
									input#genderM(type='radio', name='gender', value='男')
									| 男
							.radio
								label
									input#genderF(type='radio', name='gender', value='女')
									| 女
					.form-group
						label.col-sm-2.control-label(for='workAddress') 工作地点
						.col-sm-10
							input#workAddress.form-control(name='workAddress' type='text', placeholder='工作地点')
					.form-group
						label.col-sm-2.control-label(for='mobile') 手机
						.col-sm-10
							input#mobile.form-control(name='workPhones[mobile]' type='text', placeholder='手机')
					.form-group
						label.col-sm-2.control-label(for='phone') 座机
						.col-sm-10
							input#phone.form-control(name='workPhones[phone]' type='text', placeholder='座机')
					//- .form-group
						label.col-sm-2.control-label(for='department') 部门
						.col-sm-10
							input#department.form-control(name='department' type='text', placeholder='部门')
					.form-group
						label.col-sm-2.control-label(for='jobPosition') 岗位
						.col-sm-10
							input#jobPosition.form-control(name='jobPosition' type='text', placeholder='岗位')
					.form-group
						.col-sm-offset-2.col-sm-10
							.pull-right
								button.btn.btn-default(type='reset') 取消
								button#save.btn.btn-primary(type='button') 保存

block foot-script
	script.
		$(function () {
			var orgNodes = !{JSON.stringify(orgNodes)};
			var users = !{JSON.stringify(users)};
			$('#orgtree').jstree({
				"core": {
					"animation": 0,
					"check_callback": true,
					"themes": {"stripes": true},
					'data': function (node, cb) {
						if (node.id === "#") {
							var ret = orgNodes.filter(function (e) {
								return !e.parent;
							}).map(function (e) {
								return {
									text: e.name,
									type: e.type,
									data: e,
									"children": true || e.children && e.children.length > 0
								};
							});
							cb(ret);
						}
						else {
							var ret = orgNodes.filter(function (e) {
								return e.parent && e.parent === node.data._id;
							}).map(function (e) {
								return {
									text: e.name,
									type: e.type,
									data: e,
									children: true || e.children && e.children.length > 0
								};
							});
							ret = users.filter(function (user) {
								return user.department && user.department === node.data._id;
							}).map(function (user) {
								return {
									text: user.name,
									type: 'user',
									data: user,
									children: false
								};
							}).concat(ret);
							cb(ret);
						}
					}
				},
				"types": {
					"#": {"max_children": 10, "max_depth": 4, "valid_children": ["root"]},
					"root": {"icon": "glyphicon glyphicon-tree-deciduous", "valid_children": ["default"]},
					"default": {"icon": "glyphicon glyphicon-leaf", "valid_children": ["default", "user"]},
					"user": {"icon": "glyphicon glyphicon-user", "valid_children": []}
				},
				"contextmenu": {
					items: {
						create: {
							label: "新建",
							action: function () {
							}
						},
						edit: {
							label: '修改',
							action: function () {
							}
						},
						'delete': {
							label: '删除',
							action: function () {
							}
						}
					}
				},
				"plugins": ["contextmenu", "dnd", "search", "state", "types", "wholerow"]
			});

			$('#create').click(function () {
				var $userInfo = $('#userInfo');
				var ot = $('#orgtree').jstree(true);
				var sel = ot.get_selected(true);
				if (!sel.length) {
					return false;
				}
				sel = sel[0];
				var $form = $userInfo.find('form')[0];
				$form.department.value = sel.data._id;
				$form.name.value = '';
				$userInfo.removeClass('hidden');

				$('#save').off("click").click(function () {
					$.post('/users', $userInfo.find('form').serialize(),
									function (user) {
										var ot = $('#orgtree').jstree(true);
										ot.create_node(sel, {
											text: user.name,
											type: 'user',
											data: user
										});
									}, "json");
				});
			});

			$('#edit').click(function () {
				var ot = $('#orgtree').jstree(true);
				var sel = ot.get_selected(true);
				if (!sel.length) {
					return false;
				}
				sel = sel[0];
				var $userInfo = $('#userInfo');
				var $form = $userInfo.find('form');
				var form = $form[0];
				form.username.value = sel.data.username;
				form.password.value = sel.data.password;
				form.email.value = sel.data.email;
				form.department.value = sel.data.department;
				form.state.value = sel.data.active;
				form.name.value = sel.data.name;
				form.gender.value = sel.data.gender;
				form.jobPosition.value = sel.data.jobPosition;

				$('#save').off("click").click(function () {
					$.ajax({
						type: 'PUT',
						url: '/users/' + sel.data._id,
						data: $form.serialize()
					}).done(function (user) {
						sel.data = user;
						ot.rename_node(sel, sel.data.name);
					}).fail(function (jqxhr, textStatus, errorThrown) {
						console.log(jqxhr, textStatus, errorThrown);
					});
				});
				$userInfo.removeClass('hidden');
			});

			$('#delete').click(function () {
				var ot = $('#orgtree').jstree(true);
				var sel = ot.get_selected(true);
				if (!sel.length) {
					return false;
				}
				sel = sel[0];
				if (sel.type !== 'user') {
					return false;
				}

				$.ajax({
					type: 'DELETE',
					url: '/users/' + sel.data._id
				}).done(function () {
					ot.delete_node(sel);
				}).fail(function (jqxhr) {
					console.log(jqxhr.status);
					console.log(jqxhr.responseJSON);
				});
			});

			var to = false;
			$('#q').keyup(function () {
				if (to) {
					clearTimeout(to);
				}
				to = setTimeout(function () {
					var v = $('#q').val();
					$('#orgtree').jstree(true).search(v);
				}, 250);
			});
		});
