extends ../layouts/defualt

block title
	title 组管理 - #{pkg.name}

block content
	div.row.col-md-6.col-md-offset-2.custyle
		table.table.table-striped.custab
			thead
				a.btn.btn-primary.btn-xs.pull-right(href='/group/new')
					b +
					| 添加
				tr
					th 名称
					th 描述
					th.text-center 操作
			each group in groups
				tr
					td #{group.name}
					td #{group.description}
					td.text-center
						a.btn.btn-info.btn-xs(href='/group/edit/' + group._id)
							span.glyphicon.glyphicon-edit
							| 修改
						a.btn.btn-danger.btn-xs(data-id=group._id.toString())
							span.glyphicon.glyphicon-remove
							| 删除

block foot-script
	script.
		$(function () {
			$('a[data-id]').click(function () {
				var $self = $(this);
				$.ajax({
					type: 'DELETE',
					url: '/group/' + $self.data('id')
				}).done(function () {
					var $tr = $self.parents('tr')[0];
					$tr.remove();
				}).fail(function (jqxhr) {
					console.log(jqxhr.status);
					console.log(jqxhr.responseJSON);
				});
			});
		});
